Echo_/Visi0nClient/Connected Services/SR/basichttp2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/VWS" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VWS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EchoMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EchoMessage" nillable="true" type="tns:EchoMessage" />
  <xs:complexType name="EchoFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EchoFault" nillable="true" type="tns:EchoFault" />
</xs:schema>